source/source/cs21/wa_pratice_cs/Web References/com.xara.ws/RenderServer3D.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://soap.xara.com/type" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://soap.xara.com/wsdl/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://soap.xara.com/wsdl/" name="RenderServer3D" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema targetNamespace="http://soap.xara.com/type">
      <s:complexType name="ArrayOfstring">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute d7p1:arrayType="s:anyType[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </types>
  <message name="RenderServer3D.RenderURL">
    <part name="Template" type="s:string" />
    <part name="Text" type="s:string" />
    <part name="TextColor" type="s:string" />
    <part name="BGColor" type="s:string" />
    <part name="Font" type="s:string" />
    <part name="FontSize" type="s:string" />
    <part name="ExportType" type="s:string" />
  </message>
  <message name="RenderServer3D.RenderURLResponse">
    <part name="URL" type="s:string" />
    <part name="Width" type="s:long" />
    <part name="Height" type="s:long" />
  </message>
  <message name="RenderServer3D.GetTemplates" />
  <message name="RenderServer3D.GetTemplatesResponse">
    <part name="Templates" type="s0:ArrayOfstring" />
  </message>
  <message name="RenderServer3D.GetFonts" />
  <message name="RenderServer3D.GetFontsResponse">
    <part name="Fonts" type="s0:ArrayOfstring" />
  </message>
  <message name="RenderServer3D.GetExportTypes" />
  <message name="RenderServer3D.GetExportTypesResponse">
    <part name="ExportTypes" type="s0:ArrayOfstring" />
  </message>
  <portType name="RenderServer3DSoapPort">
    <operation name="RenderURL">
      <input message="tns:RenderServer3D.RenderURL" />
      <output message="tns:RenderServer3D.RenderURLResponse" />
    </operation>
    <operation name="GetTemplates">
      <input message="tns:RenderServer3D.GetTemplates" />
      <output message="tns:RenderServer3D.GetTemplatesResponse" />
    </operation>
    <operation name="GetFonts">
      <input message="tns:RenderServer3D.GetFonts" />
      <output message="tns:RenderServer3D.GetFontsResponse" />
    </operation>
    <operation name="GetExportTypes">
      <input message="tns:RenderServer3D.GetExportTypes" />
      <output message="tns:RenderServer3D.GetExportTypesResponse" />
    </operation>
  </portType>
  <binding name="RenderServer3DSoapBinding" type="tns:RenderServer3DSoapPort">
    <stk:binding preferredEncoding="UTF-8" xmlns:stk="http://schemas.microsoft.com/soap-toolkit/wsdl-extension" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="RenderURL">
      <soap:operation soapAction="http://soap.xara.com/action/RenderServer3D.RenderURL" />
      <input>
        <soap:body use="encoded" namespace="http://soap.xara.com/message/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.xara.com/message/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetTemplates">
      <soap:operation soapAction="http://soap.xara.com/action/RenderServer3D.GetTemplates" />
      <input>
        <soap:body use="encoded" namespace="http://soap.xara.com/message/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.xara.com/message/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetFonts">
      <soap:operation soapAction="http://soap.xara.com/action/RenderServer3D.GetFonts" />
      <input>
        <soap:body use="encoded" namespace="http://soap.xara.com/message/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.xara.com/message/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetExportTypes">
      <soap:operation soapAction="http://soap.xara.com/action/RenderServer3D.GetExportTypes" />
      <input>
        <soap:body use="encoded" namespace="http://soap.xara.com/message/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://soap.xara.com/message/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="RenderServer3D">
    <port name="RenderServer3DSoapPort" binding="tns:RenderServer3DSoapBinding">
      <soap:address location="http://ws.xara.com/graphicrender/render3d.asp" />
    </port>
  </service>
</definitions>